.bower.json
bower_components/*/bower.json
bower_components/*/readme.md

bower_components/director/.travis.yml
bower_components/director/.gitignore
bower_components/director/LICENSE
bower_components/director/package.json

bower_components/director/bin
bower_components/director/examples
bower_components/director/img
bower_components/director/lib
bower_components/director/test

bower_components/director/build/director.js
bower_components/director/build/ender.js
